@tailwind base;
@tailwind components;
@tailwind utilities;

#reader {
  background: url('./assets/cam.png') no-repeat center center/contain;
}

#reader video,
#qr-shaded-region {
  @apply rounded-2xl;
}

/* .html5-qrcode-container #html5qr-code-full-region__dashboard {
  @apply btn btn-primary text-white;
} */

/* #html5qr-code-full-region > div:first-child {
  display: none;
} */

/* #html5qr-code-full-region__dashboard {
  padding: 2rem;
} */

/* #html5qr-code-full-region__dashboard_section > div:nth-child(2) { */
/* display: none; */
/* @apply mt-4; */
/* } */

/* #html5qr-code-full-region__dashboard_section_csr select, */
/* #html5-qrcode-select-camera, */
/* #html5qr-code-full-region__dashboard_section_csr span { */
/* display: none !important; */
/* @apply btn btn-secondary; */
/* } */

/* #html5qr-code-full-region__scan_region img {
  display: none;
} */

/* #html5qr-code-full-region__scan_region video {
  min-width: 100% !important;
  max-height: 150px !important;
  object-fit: cover;
} */
